.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: url(./assets/images/react-demo-project-2-bg.jpg) no-repeat center center/cover;
}